name: Build docker image and push

on:
  push:
    branches:
    - main
  schedule:
  - cron: 0 0 * * 0

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag: [latest, '3.10', 3.10-slim, '3.11', 3.11-slim, '3.12', 3.12-slim, '3.13', 3.13-slim, '3.14', 3.14-slim]
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        platforms: linux/386,linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x
        push: true
        build-args: |
          PYTHON_VERSION=${{ matrix.tag }}
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/pre-commit:${{ matrix.tag }}
          ghcr.io/${{ github.repository_owner }}/pre-commit:${{ matrix.tag }}
